- title 'Users'

.large-8.columns
  - if @users.empty?
    .empty-default
      %h2 No users
      %p This is weird. How are you even seeing this?
  - else
    %section
      %ul.user-list.small-block-grid-1.medium-block-grid-2
        - for user in @users.all
          %li= render 'user', user: user

.large-4.columns
  .side-panel{ :'side-panel' => true }
    .padded
      .pagination-centered
        .pagination-stats #{ pluralize @users.total_count, 'user' } - Page #{ @users.current_page } of #{ @users.total_pages }
        = paginate @users
    .cta.text-center
      = link_to ficon(:plus, 'New user'), push_type_admin.new_user_path, class: 'button radius success'