<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PushType :: <%= yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag 'push_type/admin' %>
  <%= stylesheet_link_tag    'push_type/admin', '//fonts.googleapis.com/css?family=Lato:300,300italic,400,700', media: 'all' %>
  <%= favicon_link_tag 'push_type/pushtype-favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header contain-to-grid" role="banner">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to image_tag('push_type/pushtype-logo.svg', size: '140x26', alt: 'PushType', class: 'logo'), push_type_admin.root_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <%= content_tag :li, link_to(ficon(:home, 'Back to site'), home_path), :'data-no-turbolink' => true %>
        </ul>
      </section>
    </nav>
  </header>

  <section class="main" role="main">
    <div class="row">
      <div class="small-12 medium-6 large-4 medium-offset-3 large-offset-4 columns">
        <% flash.each do |key, value| %>
          <%= content_tag :div, class: "alert-box radius #{key}", data: { alert: '' } do %>
            <%= value %>
            <a href="#" class="close">&times;</a>
          <% end %>
        <% end %>
        <div class="container">
          <div class="head">
            <div class="title"><%= yield :title %></div>
          </div>
          <div class="body padded">
            <%= yield %>
          </div>
        </div>
        <%= yield :auth_links %>
      </div>
    </div>
  </section>

</body>
</html>
