.meta-table
  - unless @node.trashed?
    .meta-row
      .key= ficon :calendar, 'Publish'
      .value.editable{ data: { dropdown: 'publish-date-fields' }} {{ publishedDates }}
      #publish-date-fields.f-dropdown.content{ data: { dropdown: { content: true } } }
        .row.publish-date
          .columns
            = f.label :published_at
            = f.datetime_select :published_at, {}, :'v-node-datetime' => 'node.published_at'
        .row.publish-date
          .columns
            = f.label :published_to
            = f.datetime_select :published_to, include_blank: true, default: nil

  - if @node.creator
    .meta-row
      .key= ficon :torso, 'Author'
      .value= @node.creator.name

  - if @node.updater && @node.updater != @node.creator
    .meta-row
      .key= ficon :torso, 'Updated by'
      .value= @node.updater.name
    
  - if @node.trashed?
    .meta-row
      .key= ficon :calendar, 'Deleted'
      .value= l @node.deleted_at, format: :short




