%p.text-center= image_tag 'push_type/pushtype-logo.svg', size: '140x26', alt: 'PushType'

%p PushType is a modern, open source content management system for Ruby on Rails, lovingly developed and maintained by #{ link_to 'Push Code Ltd', 'http://www.pushcode.com' }.

%table
  %tr
    %th Version
    %td= PushType.version
  %tr
    %th Homepage
    %td= link_to 'http://www.pushtype.org', 'http://www.pushtype.org'
  %tr
    %th Source code
    %td= link_to 'http://github.com/pushtype/push_type', 'http://github.com/pushtype/push_type'
  %tr
    %th Copyright
    %td &copy; 2014-#{ Date.today.year } Push Code Ltd
  %tr
    %th License
    %td= link_to 'MIT', 'http://opensource.org/licenses/MIT'