%p.text-center= image_tag 'push_type/pushtype-logo.svg', size: '140x26', alt: 'PushType'

%p PushType is an open source content management system for Ruby on Rails, developed and maintained by #{ link_to 'Push Code Ltd', 'http://www.pushcode.com' }.

%table
  %tr
    %th Version
    %td= PushType.version
  %tr
    %th Homepage
    %td= link_to 'http://type.pushcode.com'
  %tr
    %th Source code
    %td= link_to 'http://github.com/pushcode/push_type'
  %tr
    %th Copyright
    %td 2014 Push Code Ltd
  %tr
    %th License
    %td= link_to 'MIT', 'http://opensource.org/licenses/MIT'