- title 'Profile'

.medium-4.columns
  .side-panel{ :'side-panel' => true }
    %ul.side-nav
      %li.heading Settings
      %li= link_to 'Profile', push_type_admin.edit_profile_path


.medium-8.columns
  = form_for @user, url: push_type_admin.profile_path do |f|
    .container
      .head
        .title= yield :title
      .body.padded
        .row.title
          .columns
            = f.label :name
            = f.text_field :name
        .row.email
          .columns
            = f.label :email
            = f.email_field :email

        %password-fields{ :'reveal-fields' => [:current_password, :password, :password_confirmation].any? { |k| @user.errors.keys.include? k }, :'inline-template' => true }
          .row{ :'v-show' => '!revealFields' }
            .columns
              %a.button.secondary.tiny.radius{ :'v-on:click' => 'revealFields=true' }= ficon :lock, 'Change password'
          .row.password{ :'v-show' => 'revealFields' }
            .small-4.columns
              = f.label :current_password
              = f.password_field :current_password
            .small-4.columns
              = f.label :password, 'New password'
              = f.password_field :password
            .small-4.columns
              = f.label :password_confirmation, 'Confirm new password'
              = f.password_field :password_confirmation

        .row.custom-fields
          - @user.fields.each do |key, field|
            %div{ class: field_classes(field) }
              = f.label field.name, field.label
              = render_field field, f

        .row.submit.text-center
          %button.button.radius= ficon :check, 'Update profile'
            