- title 'Trash'

- breadcrumbs.add 'Trash', push_type_admin.trash_nodes_path

- if @nodes.empty?
  .columns
    .empty-default
      %h2 No trash
      = link_to ficon(:arrow_left, 'Back to content'), push_type_admin.nodes_path, class: 'button radius secondary'

- else
  .large-8.columns
    %section.container
      .head
        .left.btn= link_to ficon(:previous), push_type_admin.nodes_path
        .title Trash
      .body
        %ul.node-list
          - for node in @nodes.all
            %li.node-list-item.actionable{ data: { id: node.id } }
              = link_to push_type_admin.edit_node_path(node) do
                .title= node.title
                .meta
                  %span.label.secondary.radius= node.type.to_s.underscore.humanize
                  %span.label.radius.alert Trashed
                  - if node.orphan?
                    %span.label.radius.alert Orphan
                  %time Deleted #{ time_ago_in_words node.deleted_at } ago
                  \-
                  %span= pluralize node.children.count, 'child'
              .buttons
                - if node.orphan?
                  %span= ficon(:loop)
                - else
                  = link_to ficon(:loop), push_type_admin.restore_node_path(node), method: 'put', class: 'success'
                = link_to ficon(:x), push_type_admin.node_path(node), method: 'delete', class: 'alert', data: { confirm: { body: 'This action cannot be undone. All child content will also be permanently deleted.' } }

  .large-4.columns
    .side-panel{ :'side-panel' => true }
      .padded
        .pagination-centered
          .pagination-stats
            = pluralize @nodes.total_count, 'item'
            - unless @nodes.total_count == 0
              \- Page #{ @nodes.current_page } of #{ @nodes.total_pages }
          = paginate @nodes
      .cta.text-center
        = link_to ficon(:trash, 'Empty trash'), push_type_admin.trash_nodes_path, method: 'delete', class: 'button radius alert', data: { confirm: true }
