- title 'Change your password'

= form_for @user, url: push_type_admin.user_password_path, html: { method: :put } do |f|
  = f.hidden_field :reset_password_token
  .row.text
    .columns
      = f.label :password, "New password"
      = f.password_field :password, autofocus: true, autocomplete: "off"
  .row.text
    .columns
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "off"
  .row.submit
    .columns
      %button.button.success.expand.radius{ data: { disable_with: 'Please wait...' } }
        = ficon :check, 'Change my password'

- content_for :auth_links do
  = render 'devise/shared/links'
